.fs-1 {
  font-size: 48px;
}

.fs-2 {
  font-size: 38px;
}

.fs-3 {
  font-size: 32px;
}

.fs-4 {
  font-size: 28px;
}

.fs-5 {
  font-size: 24px;
}

.fs-6 {
  font-size: 22px;
}

.fs-7 {
  font-size: 20px;
}

.fs-8 {
  font-size: 18px;
}

.fs-9 {
  font-size: 16px;
}

.fs-10 {
  font-size: 14px;
}

.fw-b {
  font-weight: bold;
}

.fw-9 {
  font-weight: 900;
}

.fw-8 {
  font-weight: 800;
}

.fw-7 {
  font-weight: 700;
}

.fw-6 {
  font-weight: 600;
}

.fw-5 {
  font-weight: 500;
}

.fw-4 {
  font-weight: 400;
}

.fw-3 {
  font-weight: 300;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-1 {
  margin-top: 10px;
}

.m-t-2 {
  margin-top: 20px;
}

.m-t-3 {
  margin-top: 30px;
}

.m-t-4 {
  margin-top: 40px;
}

.m-t-5 {
  margin-top: 50px;
}

.m-t-6 {
  margin-top: 60px;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-b-1 {
  margin-bottom: 10px;
}

.m-b-2 {
  margin-bottom: 20px;
}

.m-b-3 {
  margin-bottom: 30px;
}

.m-b-4 {
  margin-bottom: 40px;
}

.m-b-5 {
  margin-bottom: 50px;
}

.m-b-6 {
  margin-bottom: 60px;
}

.m-l-0 {
  margin-left: 0;
}

.m-l-1 {
  margin-left: 10px;
}

.m-l-2 {
  margin-left: 20px;
}

.m-l-3 {
  margin-left: 30px;
}

.m-l-4 {
  margin-left: 40px;
}

.m-l-5 {
  margin-left: 50px;
}

.m-l-6 {
  margin-left: 60px;
}

.m-r-0 {
  margin-right: 0;
}

.m-r-1 {
  margin-right: 10px;
}

.m-r-2 {
  margin-right: 20px;
}

.m-r-3 {
  margin-right: 30px;
}

.m-r-4 {
  margin-right: 40px;
}

.m-r-5 {
  margin-right: 50px;
}

.m-r-6 {
  margin-right: 60px;
}

.p-t-1 {
  padding-top: 10px;
}

.p-t-2 {
  padding-top: 20px;
}

.p-t-3 {
  padding-top: 30px;
}

.p-t-4 {
  padding-top: 40px;
}

.p-t-5 {
  padding-top: 50px;
}

.p-t-6 {
  padding-top: 60px;
}

.p-b-1 {
  padding-bottom: 10px;
}

.p-b-2 {
  padding-bottom: 20px;
}

.p-b-3 {
  padding-bottom: 30px;
}

.p-b-4 {
  padding-bottom: 40px;
}

.p-b-5 {
  padding-bottom: 50px;
}

.p-b-6 {
  padding-bottom: 60px;
}

.p-l-1 {
  padding-left: 10px;
}

.p-l-2 {
  padding-left: 20px;
}

.p-l-3 {
  padding-left: 30px;
}

.p-l-4 {
  padding-left: 40px;
}

.p-l-5 {
  padding-left: 50px;
}

.p-l-6 {
  padding-left: 60px;
}

.p-r-1 {
  padding-right: 10px;
}

.p-r-2 {
  padding-right: 20px;
}

.p-r-3 {
  padding-right: 30px;
}

.p-r-4 {
  padding-right: 40px;
}

.p-r-5 {
  padding-right: 50px;
}

.p-r-6 {
  padding-right: 60px;
}

.color-w {
  color: white;
}

.color-b {
  color: black;
}

.color-brown {
  color: #8b4513;
}

.link-wheat {
  color: #f5deb3;
}

.link-wheat:hover {
  color: black;
  text-decoration: none;
}

.link-white {
  color: #fff !important;
}

.link-white:hover {
  color: #fff;
  text-decoration: none;
}

.link-black {
  color: #000;
}

.link-black:hover {
  color: #000 !important;
  text-decoration: none;
}

.link-brown {
  color: #8b4513;
}

.link-brown:hover {
  color: #8b4513 !important;
  text-decoration: none;
}

.read-more-1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 18px !important;
  color: #fff;
  display: table;
  margin-bottom: 10px;
  font-weight: 900;
  text-decoration: none;
  position: relative;
}

.read-more-1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  border-bottom: 2px solid #fff;
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.read-more-1:hover::after {
  width: 100%;
}

.read-more-2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 18px !important;
  color: #000;
  display: table;
  margin-bottom: 10px;
  font-weight: 900;
  text-decoration: none;
  position: relative;
}

.read-more-2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  border-bottom: 2px solid #8b4513;
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.read-more-2:hover::after {
  width: 100%;
}

.align-justify {
  text-align: justify;
}

.align-center {
  text-align: center;
}

.lh-1 {
  line-height: 20px;
}

.lh-2 {
  line-height: 30px;
}

.lh-3 {
  line-height: 36px;
}

.lh-4 {
  line-height: 42px;
}

.lh-5 {
  line-height: 46px;
}

.lh-6 {
  line-height: 50px;
}

.li-none {
  list-style-type: none;
}

tab-1 {
  width: 10px;
  margin-right: 10px;
}

tab-2 {
  width: 20px;
  margin-right: 20px;
}

tab-3 {
  width: 30px;
  margin-right: 30px;
}

tab-4 {
  width: 40px;
  margin-right: 40px;
}

tab-5 {
  width: 50px;
  margin-right: 50px;
}
/*# sourceMappingURL=custom.css.map */